@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<button class="btn btn-primary" @onclick="RedirectToCreateUser">Create User</button>


@code {
    private void RedirectToCreateUser()
    {
        NavigationManager.NavigateTo("/create-user");
    }
}